---
page_title: "{{.ProviderShortName | upper }} Provider - {{.Type}} '{{.Name}}'"
subcategory: ""
---

[![AEM Compose Logo](https://github.com/wttech/aemc/raw/main/docs/logo-with-text.png)](https://github.com/wttech/aemc)
<a href="https://enterprisesolutions.wpp.com/" target="_blank"><picture><source srcset="https://raw.githubusercontent.com/wttech/terraform-provider-aem/main/docs/wpp-es-primary-white.svg" media="(prefers-color-scheme: dark)"><img src="https://raw.githubusercontent.com/wttech/terraform-provider-aem/main/docs/wpp-es-primary-navy.svg" alt="WPP Enterprise Solutions" height="100"></picture></a>

# {{.ProviderShortName | upper}} Provider - {{.Type}} '{{.Name}}'

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{ printf "{{tffile %q}}" .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
{{- if .HasImport }}

## Import

Import is supported using the following syntax:

{{ printf "{{codefile \"shell\" %q}}" .ImportFile }}
{{- end }}
